.noteText {
  height: 20px;
  width: 500px;
}
.noteContainer {
  width: 100%;
}
#noteList {
  list-style-type: none;
}

#deleteNote {
  position: absolute;
right: 0px;
width: 75px;
border: 3px solid #73AD21;
padding: 10px;
}
