.SingleParagraph {
  width: 100%;
  height: 200px;
  padding-left: 0px;
}
textarea.editParagraph {
  width: 100%;
  height: 200px;
}

.paragraphEditor {

}

.editButton {
  width: 94.81px !important;
  height: 31.8px !important;
}
