.toolbar {
  padding: 5px;
  border-radius:3px;
  position: fixed;
  top: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.hidden {
  display: none;
}

.btnWidth {
    width: 94.81px !important;
    height: 31.8px !important;
    text-align: center;
}
