#TopToolbarRight {
    position: absolute;
    top: 0px;
    right: 10px;
}

#TopToolbarRight button {
  margin-right: 10px;
}

.arrows {
  width: 25px;
  display: inline;
  font-size: 25px;
  cursor: pointer;
}

.topToolBar {
  margin-top: -0px;
}
